@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;400;500&display=swap");
body {
  margin: 0;
}

:root {
  --blue-dark: #072e6f;
  --blue-medium: #0060d9;
  --font-opensans: "Open Sans";
  --font-roboto: "Roboto";
}
